# Hack Club oauth app creds
HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=

# Active Record encryption (required in production, optional locally)
# AR_ENCRYPTION_PRIMARY_KEY=
# AR_ENCRYPTION_DETERMINISTIC_KEY=
# AR_ENCRYPTION_KEY_DERIVATION_SALT=
